$primary-color: #333333;
$accent-color: #020E2E;
$secondary-color: #F6F6F6;;
$link-color: #E8D190;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  background-color: $primary-color;
}
body::-webkit-scrollbar {
  width: 0;
}



.line {
  height: 1px;
  width: auto;
  background-color: $secondary-color;
  margin-bottom: 16px;
  opacity: .5;
}

.App {
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vh + 500px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes slide {
  0% {
    transform: translateY(40px)
  }
  100% {
    transform: translateY(0px)
  }
}

.data-visualization__container {
  background-color:  #222;
  padding: 20px 165px 40px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 80px;
  height: 500px;

  h1 {
    font-size: 12px;
    color: $secondary-color;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 400;
  }

  .charts__container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

.alert-container {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: $secondary-color;
  z-index: 9999;
  width: 100vw;
  left: 0;
  bottom: 0;
  padding: 8px 16px;
  font-size: 12px;
  animation-name: slide;
  animation-duration: .1s;
  animation-timing-function: ease-out;

  img {
    margin-right: 8px;
  }

  p {
    margin: 0;
    margin-right: 24px;
  }

  .alert_close {
    margin-left: auto;
    margin-right: 0;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    color: $secondary-color;
  }
}

.login {
  justify-content: center;

  .login__logo {
    height: 100px;
    margin-bottom: 32px;
  }

  h1 {
    color: white;
    margin: 0;
    text-align: center;
  }

  h4 {
    color: white;
    margin: 0;
    font-weight: 400;
    margin-bottom: 32px;
    text-align: center;
  }

  .google-button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 16px;

    .google-icon {
      margin-right: 16px;
    }
    a {
      color: $accent-color;
      text-decoration: none;
    }
  }
  a {
    color: $secondary-color;
    text-decoration: none;
  }
}


// NAVIGATION =============================

.app__navigation-bar {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  align-items: center;
  padding: 15px 165px;
  width: 100vw;
  box-sizing: border-box;
  color: #F6F6F6;
  position: fixed;
  z-index: 25;

  .logo__container {
    display: flex;
    align-items: center;

    .logo {
      height: 48px;
      margin-right: 32px;
    }
  }

  .nav-inputs__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  h1 {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

}

.city-search__container {
  position: relative;
  width: 100%;
  margin-right: 8px;

  .search_icon {
    position: absolute;
    top: 13px;
    left: 16px;
    z-index: 9999;
  }


  .city-search__input {
    padding: 16px 16px 16px 56px;
    box-sizing: border-box;
    background-color: transparent;
    font-family: 'Jost', sans-serif;
    width: 100%;
    position: relative;
    z-index: 999;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $secondary-color;
    &::placeholder {
      transition: color 0.3s;
    }

    &:hover,
    &:focus {
      outline: none;
      background-color: #181818;

      &::placeholder {
        color: $secondary-color;
      }
    }
  }

  .city-search__suggestions {
    position: absolute;
    background-color: #181818;
    list-style-type: none;
    box-sizing: border-box;
    padding: 50px 0 0;
    z-index: 50;
    width: 100%;
    top:-16px;
  
    .city-suggestion {
      margin: 0;
      padding: 8px 16px;
      color: $secondary-color;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      transition: color 0.3s;

      cursor: pointer;
      &:hover {
        color: $link-color;
      }
    }

    .last {
      padding-bottom: 16px;
    }
  }
}

// NUMBER OF EVENTS ==============================

.event-number__container {
  position: relative;
  display: flex;
  align-items: center;

  .filter_icon {
    position: absolute;
    left: 16px;
  }

  .number-of-events__input::-webkit-outer-spin-button,
  .number-of-events__input::-webkit-inner-spin-button {
    z-index: 60;
    opacity: .001;
    margin: 0;
    cursor: pointer;
  }

  .custom-spinners {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    right: 16px;
    z-index: 59;
    bottom: 16px;

    .arrow {
      height: 6px;
      margin: 2px 0;
      cursor: pointer;
    }
  }

  .number-of-events__input {
    padding: 16px 16px 16px 56px;
    box-sizing: border-box;
    background-color: transparent;
    color: $secondary-color;
    border: none;
    font-family: 'Jost', sans-serif;
    transition: background-color 0.3s;
    cursor: pointer;
  
    &:hover,
    &:focus {
      outline: none;
      background-color: #181818;
    }
  }

}



// EVENTLIST ==============================
.event-list__title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: $secondary-color;
  font-weight: 400;
  margin-top: 24px;
  margin-left: 165px;
  margin-right: auto;
}
.event-list {
  list-style-type: none;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 165px 48px;
  overflow-y: scroll;
}

.event-list::-webkit-scrollbar {
  width: 0;
}


.event-item__container {
  background-color: #222;
  color: $secondary-color;
  padding: 20px 24px;
  margin-bottom: 8px;
  transition: background-color 0.3s, height 0.3s;
  position: relative;
  height: auto;
  cursor: pointer;
    &:hover,
    &:focus {
      background-color: #181818;
    }

  .event-data__collapsed {
    margin-bottom: 16px;

     .event-data__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .date__container {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .date_icon {
            margin-right: 16px;
          }
        }

        h1, p {
          margin: 0;
        }

        h1 {
          font-weight: 500;

        }

        p {
          font-weight: 400;
          font-size: 14px;
          color: $secondary-color;
          letter-spacing: 1.5px;
        }
     }

     .location__container {
       display: flex;
       align-items: center;
       padding: 8px 0;

       .location_icon {
         margin-right: 16px;
       }
     }
     p {
       margin: 0;
       font-size: 14px;
       text-transform: uppercase;
       letter-spacing: 1.5px;
       color: $secondary-color;
     }
  }

  .event-data__expanded {
    margin-bottom: 64px;
    h2, p, a {
      margin: 0;
    }
    a {
      color: $link-color;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &:visited {
        color: #6F6447;
      }
    }

    
    p {
      margin-bottom: 24px;
      line-height: 28px;
    }
  }

  &:hover,
  &:focus {
    outline: none;
  }
  .more-less__button {
    position: absolute;
    padding-left: 16px;
    display: flex;
    align-items: center;
    right: 20px;
    bottom: 24px;
    cursor: pointer;


    .event-item__details-button {
      box-sizing: border-box;
      bottom: 20px;
      right: 20px;
      border: none;
      cursor: pointer;
      background-color: transparent;
      color: $link-color;
      font-weight: 700;
      text-transform: uppercase;
      transition: color 0.3s;
      font-family: 'Jost';
  
      &:hover,
      &:focus {
        color: $secondary-color;
        outline: none;
      }
    }

  }
  
}



